<div class="bod" fxFlex="100" fxLayoutAlign="space-evenly center">
  <mat-card fxFlex="40" fxFlex.xs="100" class="registerContainer" fxLayout="column">
    <mat-card-content class="fundooNotesLogo" fxFlex="100" fxLayoutAlign="space-around stretch">
      <img src="../../assets/images/output-onlinepngtools.png" width="275">
    </mat-card-content>
    <mat-toolbar class="title">
      <span>Register</span>
    </mat-toolbar>


    <mat-card-content>
      <form class="my-form">
        <mat-card-content class="nameCont" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.sm="column"
          fxLayout.xs="column">
          <mat-form-field class="name" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput name="fname" [formControl]="fname" required>
          </mat-form-field>
          <mat-form-field class="name" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput name="lname" [formControl]="lname" required>
          </mat-form-field>
        </mat-card-content>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput name="email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid"> {{getEmailInvalidMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput name="password" [formControl]="password" type="text">
            <mat-error *ngIf="password.invalid "> {{getPasswordInvalidMessage()}}</mat-error> 
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="ConfirmPassword" [formControl]="ConfirmPassword" type="password">
          <mat-error *ngIf="password.value!=ConfirmPassword.value"> {{getConfirmPasswordInvalidMessage(password.value,ConfirmPassword.value)}}</mat-error>
        </mat-form-field>

      </form>
      <div class="card-container" fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-card class="mat-card-container" [style.backgroundColor]="advanceColor">
          <mat-card-title class="title">
            price $99:price per month
          </mat-card-title>
          <p class="service">advance</p>
          <div>
            <mat-list class="list">
              <mat-list-item class="listItem">$99/month</mat-list-item>
              <mat-list-item class="listItem">Ability to add title, description, images, labels, checklist and
                colors
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card>
        <mat-card class="mat-card-container" [style.backgroundColor]="basicColor">
          <mat-card-title class="title">
            price $45:price per month
          </mat-card-title>
          <p class="service">basic</p>
          <div>
            <mat-list class="list">
              <mat-list-item class="listItem">$45/month</mat-list-item>
              <mat-list-item class="listItem">Ability to add only title and description
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card>
    
      </div>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button [disabled]= validate(email.invalid,password.invalid,ConfirmPassword.invalid,password.value,ConfirmPassword.value) (click)="registerUser(fname.value,lname.value,email.value,password.value,ConfirmPassword.value)">REGISTER</button>
        <p><a [routerLink]="['/login']">Already a User? Click Here</a></p>

      </mat-card-actions>

    </mat-card-content>
  </mat-card>

</div>