.mat-toolbar {
    background-color: #f8f6f1;
  }
  .sideNav-container {
    background-color: #f8f6f1;
    
    height: 100%;
    padding-top: 10px;
    border: none;
  
    .drawer {
      background-color: #f3ede3;
      width: 12%;
      min-width: 130px;
    }
}