<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <a mat-button width="20px" (click)="drawer.toggle()" > <mat-icon>list</mat-icon>  </a>
      
      <img src="../../assets/images/output-onlinepngtools.png" width="200px"  fxHide.lt-md="true" >  
     <mat-card class="searchCard" fxFlex="100" fxLayout="row"  fxHide.xs="true" fxLayoutAlign="space-around start" >
        <div class="example-full-width" margin-top="20px">
      
            <input  type="search" placeholder="Search...." matInput class="input"    
              (keyup)="searchNote($event)" (focus)="focusInSearch()" >
    </div>

   
     </mat-card>
     
              </div>

   

    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <button mat-icon-button (click)="rowToggle()" fxHide.xs="true">  
        <mat-icon>{{viewType}}</mat-icon></button>

     <button mat-mini-fab [matMenuTriggerFor]="accountBox">PB</button>
      
      
      

    </div>
 
    

  </mat-toolbar>
  <mat-divider></mat-divider>

  <mat-drawer-container  class="sideNav-container"   >
      <mat-drawer #drawer [mode]="getDrawerMode()" class="drawer"  >
        <mat-nav-list fxLayout="column" > 
            <button mat-button>
              <div fxLayout="row"  (click)=navigateToNotes()>
                  <mat-icon class="icons">notifications</mat-icon>
                <a > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Notes</a>
                
              </div>
              </button >
            <button mat-button>
              <div fxLayout="row" >
                  <mat-icon class="icons">turned_in</mat-icon>
                <a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reminder</a>
                
              </div></button>
            <hr width="100%">
             
                  <button mat-button  *ngFor="let label of labels" >
                  <div fxLayout="row" (click)="navigateToLabel(label.label)" >
                      <mat-icon class="icons">turned_in</mat-icon>
                    <a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{label.label}}</a>

              </div>
              </button>

              <button mat-button (click)="openLabelEditBox()">
              <div fxLayout="row" >
                  <mat-icon class="icons">edit</mat-icon>
                <a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edit Label</a>
                
              </div></button>
              
            <hr width="100%">
            <button mat-button>
              <div fxLayout="row"  (click)=navigateArchive()>
                <mat-icon class="icons">archive</mat-icon>
              <a > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Archive</a>
              
            </div>
            </button>
          
            <hr width="100%">
            <button mat-button>
              <div fxLayout="row"  (click)=navigateTrash()>
                <mat-icon class="icons">delete_sweep</mat-icon>
              <a >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;Trash</a>
              
            </div>
            </button>
            
        </mat-nav-list>

        
      </mat-drawer>
      <mat-drawer-content fxLayout="column" fxLayoutAlign="start center" >
          
        <router-outlet></router-outlet>
        </mat-drawer-content>
        
    </mat-drawer-container>




    <mat-menu #accountBox="matMenu" class="logoutBox" >
      <div fxLayout="row">
        <div class="ImageContainer">
         
          <img [src]="getUrl()" class="imageHolder" (click)="openImageSetter()"  >
        </div>
        <div class="userInfo">
          <div class="email">parryvelly@gmail.com</div>
          <div class="Name">Prabhnoor SIngh</div>
        </div>
      </div>
      
      <div class="accountBox" fxLayout="row" fxLayoutAlign="space-around center">
              <button mat-raised-button>Add Account</button>
              <button mat-raised-button (click)="logOut()">Logout</button>
      </div>
          
          
  </mat-menu>
