.icons{
padding-left: 10px;
padding-bottom: 10px;
}

.colorHolder{
    width:100px;
    border-radius: 20%;
    //background-color: rgb(98, 155, 136)

}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }