.mat-card{
    width:450px;
    padding-bottom: 0px;
    padding-top:5px;
    padding-right: 10px;
    padding-left:10px;
    border-radius:10px;
}

.example-full-width{
    width:100%;
    padding-top:5px;
    
 
}

.mat-input-0{
    min-height: 18px;
    height: 22px;
}

.input{
    border:none;
    width:90%;
    min-height: 25px;
    height: 25px;
    outline: none;
    margin-bottom:5px;
}
.input:active{
    border:none
}
.logo{
    margin-top:5px;
}
.footer{
    padding-top:40px;
    padding-bottom:20px;
    height: 20px
}

@media only screen and (max-width: 674px){

    .mat-card {
      width:300px;
  }}
@media only screen and (max-width: 540px){
    .mat-input{width:250px;}
    
 }
 @media only screen and (max-width: 460px){
    .mat-input{width:100px;}
 }