
<!-- <mat-accordion class="accordian">
  <mat-expansion-panel class="expansion-container" fxFlex.xs="100" hideToggle="true" #example [ngStyle]="{background: color}">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="!example.expanded" fxLayoutAlign="start center">
        Take a Note..
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center">
        <button mat-icon-button (click)="pinNote(example)" >  <mat-icon>place</mat-icon>     </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" name="title" [(ngModel)]="title" >
      </mat-form-field>
      <mat-form-field>

        <textarea placeholder="Description" matInput  [(ngModel)]="note"  cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
      </mat-form-field>

    </div>

  </mat-expansion-panel>
</mat-accordion> -->


<mat-card  fxLayout="column" fxLayoutAlign="space-around stretch" [ngStyle]="{background: color}" >
  
    <div class="title-form" *ngIf="showTit" fxLayout="row">
            <div class="example-full-width" >
              <input matInput placeholder="Title" class="input" name="title" [ngStyle]="{background: color}" [(ngModel)]="title" >
            </div>
            <img src="{{pinPath}}" (click)="togglePin()" class="logo" width="20px" height="20px">
          </div>
         


<form class="description-form"  (click)="showTitle()" >
    <div class="example-full-width" margin-top="20px">

            <textarea  placeholder="{{description}}" matInput class="input" [ngStyle]="{background: color}" name="note" [(ngModel)]="note"  cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" ></textarea>
    </div>


</form>
<div class="labelsContainer" fxLayout="row">


  <div *ngIf="reminder.length>0">
      <button mat-mini-fab class="labelButton" [ngStyle]="{background:color}">
          <div fxLayout="row">
              <img src="../../../assets/icon/schedule-24px.svg" class="reminder" width="15px"
                  height="15px">
              <a class="labelText">{{reminder|date:shortdate}}</a>
              <div >
                  <img src="../../../assets/icon/clear-24px.svg" class="tick"
                      (click)="removeReminder()" class="clear" width="10px" height="10px">

              </div>
          </div>

      </button>
  </div>

  <div *ngFor="let label of noteLabels">



      <button mat-mini-fab class="labelButton" [ngStyle]="{background: color}">
          <div fxLayout="row">
              <a class="labelText">{{label.label}}</a>
              <div >
                  <img src="../../../assets/icon/clear-24px.svg" class="tick"
                      (click)="removeLabel(label)" class="clear" width="10px" height="10px">

              </div>
          </div>

      </button>

  </div>






</div>

<div class="footer" fxLayoutAlign="space-between center" *ngIf="showTit">
    <app-icon-bar (eventCarrier)="recieveMessageFromIconTray($event)" (saveNote)="saveButtonClick($event)"></app-icon-bar>
    <button mat-button  (click)="saveNote()" >Close</button>

  </div>
</mat-card>








